body {
    min-width: 960px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', "Arial",
    sans-serif;
    color: #fff;
    text-transform: uppercase;

    background: #000000 url("A:/Programming/Актуальное/Web/HTML Academy - Базовый HTML и CSS - 2016/MyCode/Barbershop вёрстка по сетке/barbaershop-index/img/interface/barbershop-index.jpg") no-repeat center top;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-header {
    margin-bottom: 60px;
    color: #fff;
    background-color: #000;
}
.main-navigation {
    float: left;
    width: 780px;
    min-height: 70px;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;

    color: #fff;
    text-decoration: none;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}

.main-navigation a:hover {
    background: #242424;
}

.user-block {
    float: right;
    max-width: 140px;
}

.login {
    position: relative;

    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;

    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
}

.login:hover {
    background: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 18px;

    background: url("A:/Programming/Актуальное/Web/HTML Academy - Базовый HTML и CSS - 2016/MyCode/Barbershop вёрстка по сетке/barbaershop-index/img/interface/css_sprites.png") no-repeat;
    background-position: -10px -45px;
    opacity: .3;
}


.index-logo {
    width: 368px;
    height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;

    text-align: center;
}

.features-item:last-child {
    margin-right: 0;
}

.features-name {
     position: relative;

     display: block;
     margin-bottom: 30px;
     padding-bottom: 35px;

     font-size: 30px;
     line-height: 42px;
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;

    background-color: #fff;
    transform: rotate(45deg)
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;

    color: #000;

    background: 
    url("A:/Programming/Актуальное/Web/HTML Academy - Базовый HTML и CSS - 2016/MyCode/Barbershop вёрстка по сетке/barbaershop-index/img/news/index-content-shadow.png") no-repeat center,
    #f8f5f2 url("A:/Programming/Актуальное/Web/HTML Academy - Базовый HTML и CSS - 2016/MyCode/Barbershop вёрстка по сетке/barbaershop-index/img/news/pattern-white.png");
}

.index-content-left {
    float: left;
    width: 380px;
}

.index-content-right {
    float: right;
    width: 300px;
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;

    list-style: none;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: none;
    font-weight: 400;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    /*font-family: "PT Sans Norrow", "Arial", sans-serif;*/
    vertical-align: top;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #0000;
}

.gallery {
    position: relative;

    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;

    background-color: #ccc;
    border: 7px solid #fff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;

    font: inherit;
    color: inherit;
    text-transform: inherit;
    /*font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Norrow", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;*/

    background-color: #f9f6f3;
    border: 2px solid #000;
    outline: none;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.main-footer {
   margin-top: 65px;
   padding-top: 60px;
   padding-bottom: 40px;

   color: #fff;

   background: #252525 url("A:/Programming/Актуальное/Web/HTML Academy - Базовый HTML и CSS - 2016/MyCode/Barbershop вёрстка по сетке/barbaershop-index/img/interface/pattern-black.jpg");
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-contacts a {
    color: #fff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;

    text-align: center;
}

.footer-copyright {
    float: right;
    max-width: 180px;
}
 .footer-social p {
     margin: 0;
     margin-bottom: 15px;
 }

 .socialbtn {
     display: inline-block;
     width: 43px;
     height: 43px;
     margin: 0 2px;

     font-size: 0;
     vertical-align: top;
     text-decoration: none;

     background: #000 url("A:/Programming/Актуальное/Web/HTML Academy - Базовый HTML и CSS - 2016/MyCode/Barbershop вёрстка по сетке/barbaershop-index/img/interface/css_sprites.png") no-repeat center;

     transition: background-position 0.5s,
     background-color 0.5s;
 }

 .socialbtn:hover {
     background-color: #fff;
 }

 .socialbtnvk {
     background-position: -3px -102px;
 }

 .socialbtnfb {
     background-position: 2px -306px;
 }

 .socialbtninst {
     background-position: 1px -220px;
 }

 .socialbtnvk:hover {
     background-position: -3px -66px;
 }

 .socialbtnfb:hover {
     background-position: 2px -264px;
 }

 .socialbtninst:hover {
     background-position: 1px -178px;
 }

 .footer-copyright p {
     margin: 0;
     margin-bottom: 15px;

     text-align: center;
 }

 .footer-copyright .btn {
     margin-right: 0;
 }